@import './node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
    background-image: url('./img/brick-wall-painted-white.jpg');
    background-size: cover;
}
h1 {
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    clip-path: inset(0 100% 0 0);
    animation: typewriter 2s steps(22) forwards;
}

@keyframes typewriter {
    0% { clip-path: inset(0 100% 0 0); }
    100% { clip-path: inset(0 0 0 0); }
}

h1:hover {
    transform: scale(1.05);
}
.blob-background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

#blob-svg {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    object-position: center;
}

.container {
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.full-height {
    height: calc(100vh - 100px);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.contenedor-chiste {
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 1000px; 
    font-size: 18px;
    transition: transform 0.3s ease-in-out;
}
.contenedor-chiste:hover {
    transform: scale(1.05);
}
#btn-chiste {
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in-out;
}
#btn-chiste:hover {
    transform: scale(1.3);
}
.btn-vote{
    font-size: 30px;
    transition: transform 0.3s ease;
}

.btn-vote:hover {
    transform: scale(1.5);
}

#clima {
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    max-width: 150px;
    word-wrap: break-word;
}
#clima i {
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
    animation: noise 1s infinite;
    filter: brightness(0) invert(1);
}
#clima p{
    animation: noise 1s infinite;
    filter: brightness(0) invert(1);
}
@keyframes noise {
    0% { opacity: 1; }
    25% { opacity: 0.7; }
    50% { opacity: 1; }
    75% { opacity: 0.7; }
    100% { opacity: 1; }
}

.warm {
    background-color: rgba(255, 100, 0, 0.7);
}
.cold {
    background-color: rgba(0, 100, 255, 0.7);
}
.mild {
    background-color: rgba(0, 200, 100, 0.7);
}